body{

  font-family: Helvetica;
  text-align: center;
}


h1{

  font-size: 70px;
}
h2{
  font-size: 32px;
}
h3{
  font-size: 23px
}
.white{
  color: white;
}
.bold{
  font-weight:bold;
}
.list{
  font-size: 18px;

}
.line{
  font-size: 14px;
}
.image{
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png)}
  .bkcolor{
    background-color: dimgray;
  }
.footer p{font-size: 11px;
  }
  .footer a{font-size:14px
  }
  .copyright{
    text-align: left
  }
